<body>
    <!-- update the header -->
    <h1>Edit <%= game.name %></h1>
    <form action="/games/<%=game._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
    
        <label for="desc">Describe the new game</label>
        <input type="text" name="description" id="gameDesc" />

        <label for="image">Add the image</label>
        <input type="text" name="image" id="gameImg" />

    
        <button type="submit">Update Game</button>
      </form>
    <a href="/games">Back to Games</a>
  </body>