<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= game.name %></title> <!-- Dynamic title based on game name -->
  </head>
  <body>
    <h1><%= game.name %></h1> <!-- Display game name -->
    <!-- Add more details about the fruit here -->
    <h2><%= game.description %></h2>

    <a href="/games">Back to Fruits</a>
  </body>
</html>